$light: #2980B9;
$dark: #2C3E50;
$radius: 15px;
$lightgrey: #dddddd;
$white: #ECF0F1;
$darkgrey: #A9A9A9;
$radiusnav: 5px;
$topmargin: 30px;

html {background-color: $lightgrey;}

body {width: 640px;
text-align: left;
padding: 5px 200px 10px 200px;
margin: 20px auto;
border-style: solid;
border-width: 2px;
border-color: $white;
outline-color: $darkgrey;
outline-style: solid;
outline-width: 2px;

}

article {
	header h2 {padding-top: $topmargin;}
margin-bottom: 30px;margin-top: $topmargin;}

h1 {margin-right: 200px;margin-bottom: 8px;margin-top: 10px;line-height: 1em;}

section h1 {margin-bottom: 7px;margin-right:5px;margin-top: $topmargin; padding: 6px;}

footer h1 {margin: 0px;}

article header h2 {display: block;margin-top: 0px;line-height: .1em;margin-bottom: 20px;}

header nav {display: block; margin-top: $topmargin;}

h3 {margin-top: 7px;margin-bottom: 8px;}
p {margin-top: 5px;}

nav ul {
    list-style-type: none;
    margin-top: $topmargin;
    padding: 0px;

    li {list-style-type: none;
    display: inline;
    padding-top: 8px;
    padding-bottom: 5px;
    margin-right: 20px;
    background-color: $light;
    -webkit-border-radius: $radiusnav;
	-moz-border-radius: $radiusnav;
	border-radius: $radiusnav;}

    a {text-decoration: none;
    color: $dark;
    padding: 10px;
    }
} 

article ul {
li {padding-bottom: 10px;}
list-style-type: disc;}

footer h1, h2, nav, nav ul {display: inline;}

footer nav ul li {background-color:$dark;margin-left: 0px;margin-right: 0px;
	a {color: $white;font-size: .7em;padding-right:0px;}}




